 .InboxContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: black;
    color: white;
  }
  
  .InboxContainer h3 {
    font-size: 30px;
    text-align: center;
  }
  
  .InboxContainer span {
    color: aquamarine;
  }
  
  .EmailsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 50px 50px;
  }
  
  .EmailItem {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .EmailItem h4,
  .EmailItem h5,
  .EmailItem p {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .unRead {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(94, 193, 255);
    display: inline-block;
    margin-left: 120px;
  }
  
  @media (max-width: 768px) {
    .InboxContainer {
      padding: 0.5rem;
    }

    .EmailItem {
      flex-basis: 100%;
    }
  }
  