.EmailCardContainer {
  border: 1px solid black;
  padding: 20px;
  margin: 2rem auto;
  cursor: pointer;
  position: relative;
  height: auto;
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
}

.EmailCardHeader {
  margin-bottom: 10px;
}

.EmailCardHeader h4 {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 15px;
  font-weight: bold;
}

.EmailCardHeader p {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: #000000;
}

.EmailCardBody {
  margin-bottom: 10px;
}

.EmailCardBody h5 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

.EmailCardBody div {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.4;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.closeBtn button {
  padding: 10px;
  border: none;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

@media screen and (max-width: 720px) {
  .EmailCardContainer {
    margin: 4rem auto;
    height: auto;
    width: 90%;
    max-width: 100%;
    padding: 10px;
  }

  .EmailCardHeader h4 {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .EmailCardHeader p {
    font-size: 8px;
    margin-bottom: 5px; 
  }

  .EmailCardBody h5 {
    font-size: 10px;
  }

  .EmailCardBody div {
    font-size: 9px;
    margin: 8px 0;
  }

  .closeBtn button {
    font-size: 12px;
    padding: 8px; 
  }
}
