.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
}

.home-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.btn {
  border: none;
  color: white;
  font-size: 25px;
  margin-top: 1rem;
  padding: 10px 40px;
  border-radius: 20px;
  border-color: black;
  background: rgb(0, 0, 0);
}

@media screen and (max-width: 720px) {
  .home-container {
    margin-top: 6rem;
  }

  .home-title {
    font-size: 24px;
  }
}
